<h1>
    @if(isUpdateMode()) {
        Update article
    } @else if(isCreateMode()) {
        Create new article
    }
</h1>

<div class="article">
    @if(isUpdateMode()) {
        <div class="id">Id: {{ id() }}</div>
    } 
    <textarea 
        #articleText            
        [value]="article()"
        [placeholder]="isCreateMode() ? 'Enter article text here...' : ''"
        (select)="onSelectText()"
        (focus)="restoreSelection()"
        [class.temporary-focus]="isTempFocused()"
        class="textarea"  
    ></textarea>
</div>        
<div class="buttons">
    @if(isUpdateMode()) {
        <!-- 
        * Update article via store method, without RxJS 
        <button (click)="store.updateArticle(id(), articleText.value)">Update Article</button>
         -->
        <button (click)="updateArticleRxJS(id(), articleText.value)">Update Article</button>
    } @else if(isCreateMode()) {
        <button (click)="createArticle(articleText.value)">Create Article</button>
    }
    <button (click)="backToArticlesList()">Back</button>
</div>

@if(isSelectedText() || (isAnnotation() && isUpdateMode())) {
    <div class="annotation-wrapper">
        <h2>Assign or edit an annotation</h2>
        <div class="colors-selection">
            <h3>Choose the color:</h3>

            @for (item of colors(); track item.id) {
                <div class="colors-radio" (mousedown)="preventFocusLoss($event)">
                    <input 
                        type="radio"
                        name="colorsRadioGroup"
                        [id]="item.id"
                        [value]="item.value"
                        [checked]="annotationColor() === item.value"
                        (change)="setColor(item.value)"
                        class="input-radio"
                    >
                    <label [for]="item.id">&nbsp;{{ item.label }}</label>
                </div>
            }
        </div>   

        <div class="annotation-add">
            <h3>Annotation text:</h3>
            <input 
                #annotationInput
                type="text"
                [value]="annotationText()"                 
                [placeholder]="annotationText() ? '' : 'Enter annotation text...'"
                class="annotation-input"
            >
        </div>
    </div>
    <div class="buttons">
        @if(isUpdateMode()) {
            <button (click)="updateAnnotation(annotationInput.value)">Update Annotation</button>
        } @else if(isCreateMode()) {
            @if(!isNewArticleCreated()) {
                <div class="warning">
                    <p>Please create an article first</p>
                </div>
            }
            <button 
                (click)="createAnnotation(annotationInput.value)" 
                [disabled]="!isNewArticleCreated()"
            >
                Create Annotation
            </button>
        }
        
    </div>

}
